%li 
  %h4= group.name
  %p
    %b Leader:
    %span= group.leader.name if group.leader
  %p
    %b companion_one:
    %span= group.companion_one.name if group.companion_one
  %p
    %b companion_two:
    %span= group.companion_two.name if group.companion_two