<section class="col-sm-6 col-sm-offset-3">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Group (Step 2/3)</h3>
    </div>
    <div class="panel-body">
      <div class="description">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta maxime vero porro voluptatibus qui ullam iste doloremque minus quae eius iusto omnis quaerat saepe ratione, labore sequi voluptates recusandae, incidunt.
        </p>
      </div>
    </div>
  </div>
</section>