<section class="groups col-sm-6 col-sm-offset-3">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Group (Step 2/3)</h3>
    </div>
    <div class="panel-body">
      <div class="description">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta maxime vero porro voluptatibus qui ullam iste doloremque minus quae eius iusto omnis quaerat saepe ratione, labore sequi voluptates recusandae, incidunt.
        </p>
      </div>
      <div class="members">
        <div class="member">
          <div class="media">
            <a class="media-left" href="#">
              <%=image_tag @group.user.image%>
            </a>
            <div class="media-body media-middle">
              <h4 class="media-heading">Andres Yepes</h4>
              <p>Organizador</p>
            </div>
          </div>
        </div>
      </div>
      <div class="members">
        <div class="member">
          <div class="media">
            <a class="media-left" href="#">
              <%=image_tag "users/profile.jpeg"%>
            </a>
            <div class="media-body media-middle">
              <h4 class="media-heading">Media heading</h4>
              ...
            </div>
          </div>
        </div>
      </div>
      <div class="members">
        <div class="member">
          <div class="media">
            <a class="media-left" href="#">
              <%=image_tag "users/profile.jpeg"%>
            </a>
            <div class="media-body media-middle">
              <h4 class="media-heading">Media heading</h4>
              ...
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>