<section class="groups col-sm-6 col-sm-offset-3">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Group (Step 2 of 3)</h3>
    </div>
    <div class="panel-body">
      <div class="description">
        <p>
          Comparte el link con tus amigos que quieres te acompañen. Cuando tus dos amigos se unan empezaremos con la busqueda de otro grupo de amigos.
        </p>
        <div class="link">
          <%= link_to invitation_url(id: @group.invitation_token), invitation_url(id: @group.invitation_token)%>
        </div>
      </div>
      <hr>
      <div class="members">
        <div class="member">
          <div class="media">
            <div class="media-left">
              <%=image_tag @group.owner.image%>
            </div>
            <div class="media-body media-middle">
              <h4 class="media-heading">Andres Yepes</h4>
              <p>Organizador</p>
            </div>
          </div>
        </div>
      </div>
      <div class="members">
        <div class="member">
          <div class="media">
            <a class="media-left" href="#">
              <%=image_tag "users/profile.jpeg"%>
            </a>
            <div class="media-body media-middle">
              <h4 class="media-heading">Esperando amigo 1</h4>
              Comparte el link con tus amigos para que se unan.
            </div>
          </div>
        </div>
      </div>
      <div class="members">
        <div class="member">
          <div class="media">
            <a class="media-left" href="#">
              <%=image_tag "users/profile.jpeg"%>
            </a>
            <div class="media-body media-middle">
              <h4 class="media-heading">Esperando Amigo 2</h4>
              Comparte el link con tus amigos para que se unan.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>