#user_nav
  - if current_user
    %li
      .navbar-brand 
        Signed in as
        %strong= current_user.name
        !
      = link_to "Sign out", signout_path, id: "sign_out", class: "navbar-brand"
  - else
    %li 
      = link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in", class: "navbar-brand"